//Globals
$scope-one: 'Scope One';
$rubik: 'Rubik';

$red: #C12228;
$orange: #F9A41D;
$yellow: #FECC4C;
$light-green: #A0B82F;
$turquoise: #0B7868;

$beige: #EAD1A1;
$sky-blue: #AFCAE3;
$salmon: #F48151;
$brown: #8D6542;
$forest-green: #025939;

//Main Colors
$panel-color: $light-green;

//Primary
@import url('https://fonts.googleapis.com/css?family=Rubik|Scope+One');
@font-face { font-family: 'milkshake'; src: url(../Fonts/Milkshake.ttf) format('truetype');}
@font-face { font-family: 'ostrich'; src: url(../Fonts/ostrich-regular.ttf) format('truetype'); }
@font-face { font-family: 'market'; src: url(../Fonts/uptown-market.ttf) format('truetype'); }

h1 {
  font-family: 'ostrich';
}

h2 {
  font-family: 'market';
}

h3 {
  font-family: $scope-one;
}

.jumbotron {
  height: 45em;
}

p, a, button {
  font-family: $rubik;
}

a {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

//Elements
.card-img-top {
  max-height: 20em;
}

.btn {
  border-radius: 50px;
  background-color: $panel-color;
  border: 0;
  transition: all .2s ease;
  transform: scale(1);
    &:hover {
      background-color: $panel-color;
      transform: scale(1.1) perspective(1px);
  }
}

.carousel-item {
  max-height: 25em;
}

//Sections
#mini-nav {
  position: relative;
  top: 60%;
}

