//Globals
$scope-one: 'Scope One';
$rubik: 'Rubik';

$red: #C12228;
$orange: #F9A41D;
$yellow: #FECC4C;
$light-green: #A0B82F;
$turquoise: #0B7868;

$beige: #EAD1A1;
$sky-blue: #AFCAE3;
$salmon: #F48151;
$brown: #8D6542;
$forest-green: #025939;

//Primary
@import url('https://fonts.googleapis.com/css?family=Rubik|Scope+One');
@font-face { font-family: 'milkshake'; src: url(/Assets/Fonts/Milkshake.ttf) format('truetype');}
@font-face { font-family: 'ostrich'; src: url(/Assets/Fonts/ostrich-sans.sans-medium.ttf) format('truetype'); }

h1 {
  font-family: 'ostrich';
}



//Navigation

