/* --------------------------------
Fonts
-------------------------------- */
/* --------------------------------
Colors
-------------------------------- */
/* --------------------------------
Primary
-------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Rubik|Scope+One");
@font-face {
  font-family: "milkshake";
  src: url(../Fonts/Milkshake.ttf) format("truetype");
}
@font-face {
  font-family: "ostrich";
  src: url(../Fonts/ostrich-regular.ttf) format("truetype");
}
@font-face {
  font-family: "market";
  src: url(../Fonts/uptown-market.ttf) format("truetype");
}
h1 {
  font-family: "ostrich";
}

h2 {
  font-family: "market";
}

h3 {
  font-family: "Scope One";
}

p, a, button {
  font-family: "Rubik";
}

a {
  color: white;
}
a:hover {
  text-decoration: none;
}

.card-img-top {
  max-height: 20em;
}

.btn {
  border-radius: 50px;
  background-color: #A0B82F;
  border: 0;
  transition: all 0.2s ease;
  transform: scale(1);
}
.btn:hover {
  background-color: #A0B82F;
  transform: scale(1.1) perspective(1px);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #A0B82F;
  border-color: #A0B82F;
}

.head-panel, .paragraph-panel {
  background-color: #A0B82F;
  width: 33%;
  padding: 1%;
  border-radius: 50px;
  margin: 1em;
}

.paragraph-panel {
  background-color: #8D6542;
  padding: 2%;
}

.footer-panel {
  background-color: #FECC4C;
  padding: 2%;
}

.carousel {
  margin: 1em 4em;
}

.carousel-item {
  max-height: 25em;
}

.jumbotron {
  height: 45em;
}

#pitch {
  padding-bottom: 8em;
}

#landing-img {
  position: relative;
  width: 40%;
  height: 40%;
  top: 8em;
  right: 15%;
}

#now-serving, #FTC-desc {
  position: relative;
  left: 30%;
  width: 25%;
  margin-bottom: 0;
  padding: 2%;
}

#FTC-desc {
  width: 50%;
  left: 20%;
}

#mini-nav {
  position: relative;
  top: 60%;
}

div .calendars {
  max-width: 1000px;
  margin-bottom: 0;
}
div .key {
  font-family: "market";
  text-align: left;
  color: black;
  font-size: 18px;
  background: white;
  line-height: 12px;
  height: 50px;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
}
div .DLOH {
  font-family: "rubik";
  text-align: left;
  font-size: 12px;
  padding: 10px 0;
  line-height: 20px;
}
div .keyans {
  height: 30px;
  display: inline-block;
  float: left;
  padding-top: 10px;
}
div .keys {
  width: 40px;
  height: 30px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
div .key1 {
  background: #0B7868;
}
div .key2 {
  background: #A0B82F;
  margin-left: 20px;
}
div .m {
  margin-bottom: 50px;
}
div .October {
  margin-bottom: 0;
}

ul.calendar {
  list-style-type: none;
}

/* Month header */
.month {
  font-family: "ostrich";
  padding: 15px 25px;
  width: 100%;
  background: #AFCAE3;
  text-align: center;
  line-height: 35px;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  padding: 0;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Weekdays (Sun-Sat) */
.weekdays {
  margin: 0;
  padding: 5px 0;
  background-color: #F9A41D;
}

.weekdays li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
  margin: 0 -2.5px 0 -2.5px;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: white;
  margin: 0;
}
.days li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 14%;
  height: 110px;
  text-align: left;
  padding: 0 0.4% 0 0.7%;
  font-size: 14px;
  margin: 0 -2.5px -2px -2.5px;
  color: black;
  border: 1px solid white;
}

li .DL {
  background: #0B7868;
  color: white;
}
li .OH {
  background: #A0B82F;
  color: white;
}
li .both {
  padding: 0;
}

div.upper {
  height: 60%;
  margin: 0;
  padding: 0 4%;
  background: #0B7868;
  color: white;
}

div.lower {
  height: 40%;
  margin: 0;
  padding: 0 4%;
  background: #A0B82F;
  color: white;
}

li.faded {
  color: #b3b3b3;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}

ul.calendar li p {
  margin-left: -3px;
  position: absolute;
  z-index: 1;
}

li.Other p {
  color: black;
  font-size: 15px;
}

@media only screen and (max-width: 1000px) {
  li p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 700px) {
  li p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
