/* --------------------------------
Documents
-------------------------------- */
.download-bg {
  @extend #mini-nav;
  margin: 0 2% 2% 2%;
  border-radius: 10px;
  background-color: $sub-panel-color;
  border: 5px dashed white;
}

#download-req {
  background-color: $salmon;
}

.download-panel {
  background-color: $beige;
  padding: 3%;
  margin: 3%;
  align-content: left;
  border-radius: 10px;
  border: 3px solid transparent;
  &:hover {
    background-color: white;
    border: 3px solid $beige;
    color: black;
  }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: $yellow;
  border: 3px solid white;
}

.fa-plus {
  float: right;
  font-size: 25px;
  &:hover {
    color: $light-green;
  }
}

.fa-cart-arrow-down {
  font-size: 20px;
  padding-left: 10px;
  float: right;
}

.supplement {
  margin: 5%;
}

iframe {
  margin: 5% 0 5% 0;
}

@media only screen and (max-width: 1000px) {
  li p{
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  li p{
    font-size: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .key {
    max-width: 100%;
  }

  #DL-OH {
    width: 100%;
  }

  .responsiveCal {
    position: relative;
    padding-bottom: 75%;
    height: 0;
  }

  .responsiveCal iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 200%;
    border: 5px solid $light-green;
  }

  .download-bg {
    margin: 0 2% 2% 0%;
    padding: 8%;
  }

  .download-panel {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}