.rotate {
  transform: rotate(90deg);
  transition: .3s;
}

.rotate-reset {
  transform: rotate(0deg);
  transition: .3s;
}

.fa-caret-right {
  padding-left: 20px;
}

.FAQ-bg {
  @extend .download-panel;
  &:hover {
    background-color: $beige;
    color: black;
  }
}

.FAQ-bg + p {
  margin: 3%;
  color: white;
}

@media only screen and (max-width: 576px) {
  #gen-info {
    margin-top: 0;
  }

  .FAQ-bg {
    margin-top: 10%;
  }
}