/* --------------------------------
Jumbotron section
-------------------------------- */
.jumbotron {
  height: 45em;
}

#mini-nav {
  position: relative;
  top: 60%;
}

/* --------------------------------
Description section
-------------------------------- */
#pitch {
  padding-bottom: 8em;
}

#landing-img {
  position: relative;
  width:40%;
  height:40%;
  top: 8em;
  right: 15%;
}

#now-serving {
  position: relative;
  left: 30%;
  width: 25%;
  margin-bottom: 0;
}

#FTC-desc {
  @extend #now-serving;
  width: 50%;
  left: 20%;
}

/* --------------------------------
Activity cards
-------------------------------- */
.activities {
  padding: 10%;
  background-color: $panel-color;
  color: white;
}

.card-title {
  margin: 0;
  color: black;
}
