.jumbotron {
  height: 45em;
}

#pitch {
  padding-bottom: 8em;
}

#landing-img {
  position: relative;
  width:40%;
  height:40%;
  top: 8em;
  right: 15%;
}

#now-serving {
  position: relative;
  left: 30%;
  width: 25%;
  margin-bottom: 0;
  padding: 2%;
}

#FTC-desc {
  @extend #now-serving;
  width: 50%;
  left: 20%;
}

#mini-nav {
  position: relative;
  top: 60%;
}