/* --------------------------------
News carousels
-------------------------------- */
.carousel {
  padding: 1em;
  background-color: $sub-panel-color;
}

.carousel-item {
  max-height: 25em;
}

.carousel-item-news {
  max-height: 40em;
}

.carousel-item-next-news, .carousel-item-prev-news, .carousel-item-news.active {
  width: 35%;
}

.carousel-graphic {
  height: 100%;
  margin-left: 90%;
}

/* --------------------------------
News panels
-------------------------------- */
.news {
  margin-bottom: 5%;
}

.card-header {
  background-color: $sub-panel-color2;
  color: white;
}

/* --------------------------------
Announcements badges
-------------------------------- */
.badge-general {
  background-color: $panel-color;
}

.badge-deadline {
  background-color: $salmon;
}


