.carousel {
  padding: 1em;
  background-color: $sub-panel-color;
}

.carousel-item {
  max-height: 40em;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  width: 35%;
}

.carousel-graphic {
  height: 100%;
  margin-left:90%;
}

.news {
  margin-bottom: 5%;
}

.card-header {
  background-color: $sub-panel-color2;
  color: white;
}

.badge-general {
  background-color: $panel-color;
}

.badge-deadline {
  background-color: $salmon;
}

.vl-header {
  @extend .vl;
}

